#header{
    display:flex;
    justify-content: space-between;
    justify-content: baseline;
}
#header h1{
    padding-top: 0.5cm;
     padding-left:40px ;
}
#nav-bar{
    display: flex;
    justify-content: space-between;
}
#nav-bar li{
    padding-top: 30px;
    padding-left: 50px;
}
#header-main {
    background-image: url('bg1.jpg');
    background-repeat: no-repeat;
    height: 15vh;
    color:#8a99ae;
  
}

#nav-bar a{
    text-decoration: none;
    text-justify: auto;
    color: #968162;
    border-bottom: 3px transparent solid;
    padding: 10px;
    padding-top: 30px;
    
}
#nav-bar a:hover{
  color: rgb(99, 111, 99);
  text-decoration: underline #29d4eb;
}

#nav-bar a:hover{
    color: rgb(212, 213, 212);
}
.footer_container {
    max-width: 1170px;
    margin: auto;
  }
  .row {
    display: flex;
    justify-content: space-evenly;
  
  }
  ul {
    list-style: none;
  }
  .footer {
    background-color: #333;
    padding: 50px 0;
  }
  .footer.copy {
    text-align: center;
    color: #fff;
  }
  .footer-col {
    width: 25%;
    padding: 0 15px;
  }
  .footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-weight: 500;
    position: relative;
  }
  
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer-col ul li a,
  pre {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover {
    color: #ffbc00;
    padding-left: 8px;
  }
  .footer-col .social-links a {
    display: inline-block !important;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center !important;
    line-height: 40px !important;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a i {
    text-align: center;
    margin-top: 30%;
  }
  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffbc00;
  }
  .contact-info {
    color: #fff;
  }
  #contact-info2 a{
    color: #f4f4f4;
     
  }
  pre {
    margin-left: -110px ;
  }
  .bottom-line1 {
    height: 1px;
    width: 4rem;
    background: #ffbc00;
    display: block;
    margin: 0.7rem 0;
    
  }
  .form {
    display: flex;
    position: relative;
    margin: 0cm 4cm 40px 20px;
    text-align: center;
    width: 300px;
    
  }
  .form input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px rgb(183, 24, 24) solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: rgb(170, 27, 27);
  }
  .form-box{
    display: block:
    text-align: center;
    margin: 0cm 17cm 0cm 14cm;

  }
  form{
    background-color: #1544bb;
    padding-top: 1cm;
  }

  #btn{
    margin: 1cm 2cm 3cm 3cm;
  }


  .form input:focus,
  .form input:valid {
    outline: 0;
    border-bottom: rgb(202, 28, 28) 1.5px solid;
  }
  
  .form label {
    position: absolute;
    top: 15px;
    left: 0;
    color: #29d4eb;
   
  }
  .section-1{
    background-color: #114da1;
  }
  
  .form label span {
    display: inline-block;
    font-size: 16px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: 0.09s ease;
  }
  .form input:focus + label span,
  .form input:valid + label span {
    color: #29d4eb;
    transform: translateY(-30px);
  }

  .address{
    display: flex;
    background-color: #24262b;
    padding: 2cm;
    padding-right: 2cm;
    gap: 10cm;
  }



  
  